<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scenarioDiagramModel -->
      <package
            uri="org.sdmlib.examples.emfstudyright.EMFStudyRightModel"
            class="org.sdmlib.examples.emfstudyright.EMFStudyRightModel.EMFStudyRightModelPackage"
            genModel="model/scenarioDiagramModel.xcore"/>
   </extension>

</plugin>
